@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d4d6d9;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #bec0c2;
    border-radius: 20px;
  }
}
