$--color-primary: #1659db;
$--color-success: #5ead37;
$--color-warning: #e6a23c;
$--color-danger: #f56c6c;
$--color-info: #909399;

:export {
  primaryColor: $--color-primary;
  successColor: $--color-success;
  dangerColor: $--color-danger;
  infoColor: $--color-info;
  warningColor: $--color-warning;
}
